/* Dark mode styling */
body {
  background-image: url('../../../pics/ModulePic.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: Arial, sans-serif;
  margin: 0;
  color: #ffffff; /* Set text color to white */
}

.FullPage{
  border-radius: 20px;
  background: linear-gradient(black,grey);
}

.ButtonsFew {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ButtonsFew:hover {
  background-color: #45a049;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #ffffff;
}

.module-list {
  list-style: none;
  padding: 0;
}

.module {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-image: linear-gradient(135deg, #ff6fd8, #2c215a, #17a2b8);
  animation: gradientAnimation 5s ease infinite alternate; /* Apply animation */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.module:hover {
  background: linear-gradient(135deg, #58133c 0%, #1d1285 100%);
  animation: backgroundAnimation 0.5s ease;
}

@keyframes backgroundAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #362a42, #04045f); /* Violet to Blue gradient */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.module-header h3 {
  margin: 0;
  color: #ffffff; /* Set text color to white */
}


.module-header button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.module-header button:hover {
  background-color: #45a049;
}

.module-header button:focus {
  outline: none;
}

.module-details {
  margin-top: 10px;
}

.module-details p {
  margin: 5px 0;
}

/* WorkSessionCard */
.WorkSessionCard {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #dadde5;
  transition: background-color 0.3s ease;
}

.WorkSessionCard:hover {
  background-color: #e6e9ee;
}

.WorkSessionCard h3 {
  margin: 0;
}

.WorkSessionCard p {
  margin: 5px 0;
}

.work-session-date {
  color: white;
  margin-bottom: 20px;
  border-radius: 10px; /* Set border radius to make edges round */
  background: linear-gradient(135deg, violet, blue);
    padding: 20px;
}

/* Update and Delete Buttons */
.WorkSessionCard button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.WorkSessionCard button:hover {
  background-color: #0056b3;
}

.WorkSessionCard button:focus {
  outline: none;
}

/* Add animation to WorkSessionCard */
.WorkSessionCard {
  animation: cardAnimation 0.2s ease;
}
.SessionCard{
  display: flex;
  flex-direction: row  ;
  justify-content: space-evenly;
}
@keyframes cardAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
