/* Dark mode styling */
body {
  background: linear-gradient(rgb(19, 6, 6), rgb(38, 27, 65), black);
  /* Set a solid background color */
  background-repeat: repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #ffffff;
  /* Set text color to white */
  font-size: 16px;
  /* Default font size */
}

.FullPage {
  /* max-width: calc(100% - 250px); */
  border-radius: 20px;
  background-color: #4c4c4c;
  /* Set a solid background color */
}

.Full{
  margin-left: 17%;
}

.ButtonsFew {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ButtonsFew:hover {
  background-color: #45a049;
}

.container {
  max-width: calc(100% - 250px);
  /* Adjust the width to accommodate the side navbar */
  margin-left: 250px;
  /* Adjusted for smaller screens */
  padding: 20px;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  /* Increase font size for headings */
}

.module-list {
  list-style: none;
  padding: 0;
}

.module {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #362a42;
  /* Set a solid background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.module:hover {
  background: linear-gradient(135deg, #070707 0%, #453d77 100%);
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #362a42;
  /* Set a solid background color */
  padding: 10px 20px;
  /* Adjust padding as needed */
  border-radius: 10px;
  /* Add border radius for rounded corners */
}

.module-header h3 {
  margin: 0;
  color: #ffffff;
  /* Set text color to white */
}

.module-header button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.module-header button:hover {
  background-color: #45a049;
}

.module-header button:focus {
  outline: none;
}

.module-details {
  margin-top: 10px;
}

.module-details p {
  margin: 5px 0;
}

.work-session-date {
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  /* Set border radius to make edges round */
  background-color: #362a42;
  /* Set a solid background color */
  padding: 20px;
}

.WorkSessionCard {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #dadde5;
  /* Set a solid background color */
}

.WorkSessionCard:hover {
  background-color: #e6e9ee;
}

.WorkSessionCard h3 {
  margin: 0;
}

.WorkSessionCard p {
  margin: 5px 0;
}

.WorkSessionCard button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.WorkSessionCard button:hover {
  background-color: #0056b3;
}

.WorkSessionCard button:focus {
  outline: none;
}

.SessionCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes cardAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Styles */

/* Small devices (phones) */
@media only screen and (max-width: 1200px) {
  .container {
    padding: 10px;
    max-width: calc(100% - 250px);
    /* Adjust the width to accommodate the side navbar */
    margin-left: 250px;
    /* Adjusted for smaller screens */
  }

  h2 {
    font-size: 20px;
    /* Decrease font size for headings */
  }

  .module {
    padding: 15px;
    margin-bottom: 15px;
  }

  .module-header {
    padding: 5px 15px;
  }

  .module-header button {
    padding: 8px 15px;
  }

  .work-session-date {
    padding: 15px;
  }

  .WorkSessionCard {
    padding: 15px;
    margin-bottom: 30px;
  }

  .WorkSessionCard button {
    padding: 6px 12px;
  }

  /* Responsive buttons inside .module */
  .module button {
    padding: 8px 12px;
  }
}
