.newUser-container {
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 350px;
  border-radius: 5px;
  background-color: #d0b7b7;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.newUser-create-user input,
.newUser-create-user select {
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.newUser-create-user input:focus,
.newUser-create-user select:focus {
  border-color: #007bff;
  outline: none;
}

.newUser-create-user button {
  color: #fff;
  background-color: #9a9da0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.newUser-create-user button:hover {
  background-color: #040b13;
}

.newUser-navigation-buttons button {
  color: #fff;
  background-color: #313336;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.newUser-navigation-buttons button:hover {
  background-color: #0056b3;
}
