.employee-plan-container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #fff;
}

.module-section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.module-header button {
  margin-left: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.module-details {
  padding: 10px;
}

.trainings-section,
.assessments-section {
  margin-top: 20px;
}

.trainings-section h4,
.assessments-section h4 {
  margin-bottom: 10px;
}

.trainings,
.assessments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.training,
.assessment {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
}

.training p,
.assessment p {
  margin-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.training button,
.assessment button {
  margin-top: 10px;
}

button {
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
